<mjml>
  <mj-head>
    <mj-title>{{ title }}</mj-title>
    <mj-preview></mj-preview>
    {{#fontFamilies}}
      <mj-font name="{{name}}" href="{{url}}" />
    {{/fontFamilies}}
    <mj-style inline="inline">
      .link-nostyle {
        color: inherit;
        text-decoration: none
      }
    </mj-style>
    <mj-style>
      @media only screen and (max-width:480px) {
        .noMobile {
          display: none;
        }
      }
      .no-link a {
        color: {{ colors.red }};
        text-decoration: none;
      }
    </mj-style>
  </mj-head>
  <mj-body>
    <mj-wrapper padding="0">
      <mj-section padding="0">
        <mj-column>
        </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
